@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body, html {
    height: 100%;
    background-color: #000000 ;
}

.header {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    border-radius: 0 0 100% 100% / 40%;
}

.feed-navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15%;
    background-color: transparent;
    color: white;
    z-index: 10;
}

.feed-logo {
    font-size: 24px;
}

.feed-logo img{
    width: 120px;
}

.feed-address {
    font-size: 18px;
}

.feed-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 5;
}

.feed-content h1 {
    font-size: 60px;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-family: "Philosopher", sans-serif;
    font-weight: 800;
}

.feed-content button {
    font-size: 20px;
    padding: 15px 40px;
    border: none;
    border-radius: 5px;
    background-color: #ff4500;
    color: white;
    cursor: pointer;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    transition: transform 0.2s ease-in-out;
    
}

.feed-content button:hover{
    color: #ff4500;
    background-color: #ffffff;
    transform: scale(1.05);
    padding: 13px 40px;
}

.feed-video-background {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Coloca o vídeo por trás do conteúdo */
}

.feed-video-background video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover; /* Garante que o vídeo cubra toda a área designada */
}

.header::before, .header::after, .header::before::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: opacity 1s ease-in-out;
}

.header::before {
    background-image: url('../img/vídeo-fundo.mp4');
    z-index: 1;
    opacity: 1;
}

.header::after {
    background-image: url('image2.jpg');
    z-index: 2;
    opacity: 0;
}

.header::before::after {
    background-image: url('image3.jpg');
    z-index: 3;
    opacity: 0;
}

@keyframes slide {
    0%, 33.33% { opacity: 1; }
    33.34%, 66.66% { opacity: 0; }
    66.67%, 100% { opacity: 1; }
}

@media (max-width: 768px) {
    .feed-navbar {
        padding: 20px 10%;
    }

    .feed-content h1 {
        font-size: 46px;
    }

    .feed-content button {
        font-size: 29px;
    }

    .feed-address {
        font-size: 0px;
    }
}

@media (max-width: 480px) {
    .feed-navbar {
        flex-direction: column;
        text-align: center;
    }

    .feed-content h1 {
        font-size:38px;
    }

    .feed-content button {
        font-size: 18px;
    }
}

.header::before {
    animation: slide 9s infinite;
}

.header::after {
    animation: slide 9s infinite 3s;
}

.header::before::after {
    animation: slide 9s infinite 6s;
}


.div-title-1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.title-main-1{
    color: white;
    font-size: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: "Philosopher", sans-serif;
}

.cards {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 5%;
    padding: 0px 10%;
}

.card {
    background: #000000;    
    padding: 10px;
    width: 30%;
    display: flex;
    align-items: flex-start;
    
}

.card video {
    width: 220px;
    height: auto;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}

.card-content {
    flex: 1;
    border-right: 1px solid white;
    padding-left: 5px;
    padding-right: 15px;
}

.card-content h6 {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 1rem;
    color: #ff4500;
}

.card-content p {
    margin-bottom: 10px;
    font-size: 14px;
    color: white;
}

.card-content button {
    font-size: 14px;
    padding: 8px 50px;
    border: none;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    cursor: pointer;
    margin-top: 50%;
    transition: transform 0.2s ease-in-out;
}

.card-content button:hover{
    background-color: #ff4500;
    color: white;
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .card {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .card video {
        margin: 0 0 10px 0;
    }

    .card-content {
        text-align: center;
        border-right: 0px solid white;
        border-bottom: 1px solid white;
        margin-bottom: 3%;
    }

    .card-content button{
        margin-bottom: 15px;
        margin-top: 0;
    }
}

.photo-gallery {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    height: 50vh;
    overflow: hidden;
}

.photo-row {
    display: flex;
    flex: 1;
}

.gallery-photo {
    width: 25%;
    height: auto;
    object-fit: cover;
    transition: filter 0.3s ease;
}

.gallery-photo:hover {
    filter: brightness(1);
}

.photo-gallery:hover .gallery-photo {
    filter: brightness(0.3);
}

.photo-gallery:hover .gallery-photo:hover {
    filter: brightness(1);
}


.schedule-section {
    padding: 20px 0%;
    background-color: white;
}

.schedule-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.musician-section {
    padding: 50px 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.musician-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: auto;
}

.musician-image {
    flex: 1;
    margin-right: 30px;
}

.musician-image img {
    width: 100%;
    height: auto;
    max-height: 600px;
    border-radius: 8px;
}

.musician-info {
    flex: 1;
    text-align: left;
}

.musician-info h2 {
    font-size: 42px;
    margin-bottom: 20px;
    color: #ff4500;
    font-family: "Philosopher", sans-serif;
}

.musician-info p {
    font-size: 22px;
    color: white;
    line-height: 1.6;
    margin-bottom: 30px;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
}

.musician-info button {
    padding: 12px 24px;
    font-size: 16px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.musician-info button:hover{
    transform: scale(1.05);
    color: white;
    background-color: #ff4500;
}

@media (max-width: 768px) {
    .musician-container {
        flex-direction: column;
    }
    
    .musician-image {
        margin-right: 0;
        margin-bottom: 0px;
    }

    .title-main-1{
        font-size: 30px;
        margin-top: 5%;
    }

    .musician-info p{
        text-align: center;
    }

    .musician-info h2{
        text-align: center;
    }

    .musician-info button{
        align-items: center;
        text-align: center;
    }

    .musician-button{
        display: block;
        margin: 0 auto; /* Centraliza horizontalmente */
        text-align: center; 

    }
}

.footer {
    color: white;
    padding: 0;
    width: 100%;
}

.footer-photos {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px dashed white;
}

.photo {
    position: relative;
    overflow: hidden;
    flex: 1;
    cursor: pointer;
    transition: transform 0.3s ease;
    
}

.photo img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.photo:hover {
    transform: scale(1.01);
    z-index: 1;
    filter: brightness(1);
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 60vh;
    background-color: #000000;
    padding: 20px 10%;
}

.left-content, .right-content {
    flex: 1;
    text-align: left;
    margin-left: 5%;
}

.center-content {
    flex: 1;
    text-align: center;
}

.center-content img {
    max-width: 100px;
    height: auto;
}

.right-content a {
    margin: 0 10px;
}

.right-content img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
}

.right-content img:hover {
    transform: scale(1.2);
}   

@media (max-width: 768px) {
    .footer-photos {
        padding: 0 0; /* Reduz o padding horizontal das fotos */
    }

    .photo {
        width: 80%; /* Ajusta a largura das fotos para ocupar mais espaço */
    }

    .left-content, .right-content, .center-content {
        flex: 1 1 100%; /* Ocupa todo o espaço disponível */
        text-align: center; /* Centraliza o texto */
        margin-bottom: 0px; /* Reduz o espaçamento entre as seções */
    }

    .left-content p{
        font-size: 10px;
    }

    .center-content img {
        max-width: 70px; /* Reduz ainda mais o tamanho do logo */
    }

    .right-content a {
        margin: 0 3px; /* Diminui ainda mais a margem entre os links */
    }

    .right-content img {
        width: 30px;
        height: 30px;
    }
}